@use "@/assets/additional" as *; 

.blog {
	color: inherit;

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(450px, auto));
		grid-gap: 50px 40px;
		animation: 0.4s showItem;
		
		@include media('<=xxxxlg') {
			grid-template-columns: repeat(2, 1fr);
		}
		
		@include media('<=xlg') {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		grid-column: span 1;
	}

	@keyframes showItem {
		from { opacity: 0; }
		to { opacity: 1; }
	}
}