@use "@/assets/additional" as *; 
@include reset();

:root {
	--container: 1200px;
	--gap: 16px;
	--accent: 145, 175, 137;
	--accident: 171, 223, 156;
	--brown: 39, 38, 41;
}


@include font-face("Magistral", "MG", 400);
@include font-face("MagistralBold", "MG", 600);
@include font-face("MagistralBlack", "MG", 900);

html, body {
	box-sizing: border-box;
	line-height: 1.2;
	font-weight: 400;
	min-height: 100vh;
	min-height: 100dvh;
	background-color: #fff;
	color: #555;
}

body {
	display: flex;
	flex-flow: row wrap;
	@include screen-media();
	
	@include media('<=md') {
		display: flex;
		flex-flow: column nowrap;
		padding-top: 75px;
	}
	
	&.home {
		position: relative;
		grid-template-rows: 1fr;
		background: url('/images/dev_ofweb.png') right bottom / auto no-repeat, url('/images/main_bg.png') center top / cover no-repeat, #353638;
	}

	&.underlay {
		position: relative;
		
		&::before {
			display: block;
			content: "";
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			transition: opacity 0.3s;
			animation: 0.3s showItem;
		}
	}
	
	&.underlay_closing::before {
		opacity: 0;
	}	
}

.sidebar {
	box-sizing: border-box;
	flex-shrink: 0;
	width: 460px;
	
	@include media('<=xxxlg') {
		width: 400px;
	}
	
	@include media('<=lg') {
		width: 360px;
	}
	
	@include media('<=md') {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
}

.main {
	box-sizing: border-box;
	padding: 80px 70px 50px 70px;
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	width: calc(100% - 460px);
	background: url('/images/content_bg.png') -100px -40px no-repeat #f9f9f9;
	
	@include media('<=xxxlg') {
		width: calc(100% - 400px);
	}
	
	@include media('<=lg') {
		width: calc(100% - 360px);
		padding: 40px;
	}
	
	@include media('<=md') {
		width: auto;
		padding: 70px;
	}
	
	@include media('<=xs') {
		padding: 40px;
	}
	
	@include media('<=xxs') {
		background-image: none;
		padding: 40px 20px;
	}

	&_home {
		background: none;
		justify-content: center;
		align-items: center;
	}

	&__inner {
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		flex-grow: 1;
		margin: 0 auto;
		
		&_pending {
			background: url('/images/loader.svg') center / 35px 35px no-repeat transparent;
		}
		
		@include media('<=xxxxlg') {
			max-width: 1160px;
		}
	}
}

.footer {
	box-sizing: border-box;
	width: 100%;
}

strong {
	font-weight: 600;
}

p {
	margin-bottom: 10px;
}

@keyframes showItem {
	from { opacity: 0; }
	to { opacity: 1; }
}